<form method='post' action='/addingbookmark'>
  <label for='title'> TITLE: </label>
  <input type='text' name='title'>
  <label for='url'> URL: </label>
  <input type='text' name='url'>
  <input type='submit' name='submit'>
</form>
