<h1> This is a bookmark </h1>
<form action='/bookmarks' method='get'>
<input value="View Bookmarks" type='submit'>
</form>
<form action='/addbookmark' method='get'>
<input value="Add Bookmarks" type='submit'>
</form>
