<form method='post' action='/updatingbookmark'>
  <label for='current title'>current title :</label>
  <input type='text' name='current title'>
  <label for='new title'>new title :</label>
  <input type='text' name='new title'>
  <input type='submit' name='Update Bookmark'>
</form>
