<h1>Update a bookmark!</h1>
<form method='post' action='/updatingbookmark'>
  <label for='current title'>Current title :</label>
  <input type='text' name='current title'>
  <label for='new title'>New title :</label>
  <input type='text' name='new title'>
  <input type='submit' name='Update Bookmark' value="Update Bookmark">
</form>
